.home-container {
  padding: 20px 10px 33px;
  font-size: 36px;
  text-align: left;
  border: 1px solid red;
}

.home-card {
  display: none;
  flex-direction: column;
  border: 1px solid orange;
}

.home-content-container {
  padding-left: 25px;
  border: 1px solid blue;
}

.home-content-container h1 {
  color: white;
  margin-bottom: 20px;
}

.home-content-container p {
  width: 260px;
  color: white;
  font-size: 18px;
  margin-bottom: 51px;
}

.home-image-container {
  padding: 0;
  border: 1px solid purple;
}

.home-image-container svg {
  width: 100%;
  height: auto;
}

.card-login {
  border: 1px solid rgb(60, 255, 0);
}

.card-login h1 {
  color: aqua;
}

@media (min-width: 576px) {
  .home-container {
    padding: 40px 48px 241px;
    font-size: 48px;
  }

  .home-content-container {
    padding-left: 30px;
  }

  .home-content-container h1 {
    width: 370px;
  }

  .home-content-container p {
    width: 320px;
    font-size: 22px;
  }
  .home-image-container svg {
    width: 380px;
    height: auto;
  }
}

@media (min-width: 768px) {
  .home-container {
    padding: 47px 144px 234px;
  }
}

@media (min-width: 992px) {
  .home-container {
    padding: 40px 256px 241px;
  }
}

@media (min-width: 1200px) {
  .home-container {
    padding-top: 38px;
    padding-bottom: 38px;
    padding-right: 0;
    padding-left: 70px;
    display: flex;
    flex-direction: row;
  }

  .home-card {
    display: flex;
    justify-content: center;
    margin-right: 149px;
  }

  .card-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 479px;
    height: 573px;
  }
}

@media (min-width: 1400px) {
  .home-container {
    padding-top: 40px;
    padding-bottom: 38px;
    padding-right: 0;
    padding-left: 70px;
    display: flex;
    flex-direction: row;
  }

  .home-card {
    display: flex;
    justify-content: center;
    margin-right: 338px;
  }

  .card-login {
    display: flex;
    align-items: center;
    width: 479px;
    height: 573px;
  }
}
