.main-nav {
  min-height: 68px;
  padding-left: 18px;
}

.nav-logo-text h4 {
  font-size: 24px;
  color: #000000;
}

.nav-logo-text:hover {
  color: #ffffff;
}

.main-menu {
  display: flex;
  justify-content: center;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  width: 100px;
  height: 30px;
  border: 1px solid #000000;
  border-radius: 10px;
}

.main-menu a {
  color: #000000;
}

.main-menu a:hover {
  color: #ffffff;
}

.nav-login-logout {
  color: #000000;
  border: 2px solid #000000;
  border-radius: 10px;
  padding: 5px 20px;
  margin-right: 10px;
}


.nav-username {
  display: none;
  margin-right: 20px;
}

@media (min-width: 768px){

  .nav-login-logout {
    margin-right: 20px;
  }

  .nav-username {
    display: unset;
  }
}

@media (min-width: 992px){
  .nav-login-logout {
    margin-right: 40px;
  }
}