.movie-details-container {
    padding: 10px;
}

.movie-details-card {
    padding: 20px;
}

.img-container {
    text-align: center;
    margin-bottom: 18px;
}

.img-container img {
    width: 100%;
}

.title-subtitle-container {
    margin-bottom: 16px;
    color: white;
}

.title-subtitle-container h1 {
    font-size: 20px;
    letter-spacing: -0.015em;
}

.title-subtitle-container h6 {
    font-size: 16px;
    color: #FFC700;
}

.title-subtitle-container p {
    font-size: 14px;
}

.sinopse-container {
    padding: 13px 16px;
    border-radius: 10px;
    border: 1px solid #E1E1E1;
    color: #9E9E9E;
}

@media (min-width: 576px) {
    .movie-details-container {
        padding: 20px;
    }


}

@media (min-width: 768px) {
    .movie-details-container {
        padding: 40px;
    }

    .title-subtitle-container h1 {
        font-size: 36px;
        letter-spacing: -0.015em;
    }

    .title-subtitle-container h6 {
        font-size: 24px;
    }

    .title-subtitle-container p {
        font-size: 24px;
    }

    .sinopse-container {
        font-size: 18px;
    }
}

@media (min-width: 992px) {
    .movie-details-card {
        padding: 40px;
    }

    .img-container img {
        width: 72%;
    }

}

@media (min-width: 1200px) {
    .img-container img {
        width: 100%;
    }

}

@media (min-width: 1400px) {
    .movie-details-container {
        padding: 40px 140px;
    }
}