.movie-card {
  margin-bottom: 20px;
  width: 300px;
  align-items: center;
  border: 1px solid red;
}

.card-top-container {
  text-align: center;
  padding: 26px 0;
}

.card-top-container img {
    width: 295px;
    height: 165px;
  }

.card-bottom-container {
    padding: 11px 18px 53px;
}

.card-bottom-container h6 {
  font-size: 20px;
  color: #fff;
}

.card-bottom-container h3 {
  font-size: 16px;
  color: #FFC700;
}

.card-bottom-container p {
  color: #fff;
}
